
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

/* =============== Header =============== */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    text-decoration: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    color: #2e2f42;
}

.menu a:hover,
.menu a:focus {
    color: #404bbf;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}